* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    width: 700px;
}

a{
    color: text;
    stroke: black;
}

.nav-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    border: transparent 1px solid;
    border-bottom-color: #333;
}

nav{
    display: flex;
    padding: 10px;

    width:700px;
}
 nav .leftside{
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

nav .leftside svg{
    width: 25px;
    height: 25px;
}

nav .rightside{
    margin-left: auto;
    display: flex;
    gap: 10px;
}
nav .rightside a{
    text-decoration: none;
    color: black;
}
